<div style="width: 400px">
    <div mat-dialog-content
        class="mat-typography">
        <h1 mat-dialog-title>{{ data.title }}</h1>
        <div mat-dialog-content>
            <p>Start: {{ data.start | date:'fullDate' }} {{ data.start_date | date:'shortTime' }}</p>
            @if(data.end_date){
            <p>End: {{ data.end_date | date:'fullDate' | date:'shortTime' }} {{ data.end_date | date:'shortTime' }}</p>
            }
        </div>
    </div>
    <div mat-dialog-actions
        align="center"
        class="!mb-4">
        <button mat-button
            (click)="closeDialog()"
            color="primary">ปิดหน้าต่าง</button>
    </div>
</div>
